p {background-color:red;}
ul {background-color:pink;}
li {background-color:purple;}

/* Make the third <p> tag and the second and sixth <li> of <ul> display inline */


/* Make all <a> tag display block */


/* Make all <span> tag and the first <li> tag of any list display none */
