
/* Achieve the layout of 12-float.png using only float */
#set-2 {
	margin:0;
	background:yellow;
	width:50%;
	float:left;
	
}
#set-3 {
	margin:0;
	background:pink;
	width:40%;
	float:right;
}

section {
	float:none;
	clear:both;
}